* {
  margin: 0;
}
body {
  background-color: rgb(238, 233, 226);
  font-family: cursive;
}
.firstpart {
  height: 100vh;
  background-position: center;
  position: relative;
}
.mainpic {
  background-image: url("../img/mainpic2.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.minifirstbar {
  background-color: rgb(238, 233, 226, 0.801);
  color: rgba(176, 93, 176, 0.801);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30%;
  bottom: 30px;
  position: absolute;
  padding: 20px 10px;
  margin-left: 600px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 1000;
  outline: solid 2px white;
}
header {
  background-color: rgba(176, 93, 176, 0.801);
}
h2 {
  font-family: blackadder itc, cursive;
  font-weight: 200;
  font-size: 40px;
}
.thebar {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  color: rgb(238, 233, 226);
}
.linkline {
  display: flex;
  gap: 40px;
  list-style-type: none;
  padding-right: 20px;
  padding-top: 15px;
}
a {
  text-decoration: none;
  color: rgb(238, 233, 226);
}
.butt {
  background-color: rgba(176, 93, 176, 0.801);
  color: rgb(238, 233, 226);
  border: none;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  width: 200px;
  height: 70px;
  transition: 1s;
  font-family: cursive;
}
.butt:hover {
  width: 300px;
  height: 100px;
}
