* {
  margin: 0;
  box-sizing: border-box;
}
body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: rgb(238, 233, 226);
  font-family: cursive;
}
.firstpart {
  height: 100vh;
  background-position: center;
  position: relative;
}
.mainpic {
  background-image: url("https://i.ibb.co/60nKRNRV/mainpic2.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.subpic {
  background-image: url("https://i.ibb.co/PZJPQ1sj/subpart.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.secbar {
  background-color: rgb(238, 233, 226, 0.801);
  color: rgba(20, 20, 20, 0.801);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 39%;
  bottom: 0px;
  position: absolute;
  padding: 20px 10px;
  margin-left: 627px;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 1000;
  outline: solid 2px white;
  z-index: 1;
}
.secbutt {
  background-color: rgba(10, 10, 10, 0.801);
  color: rgb(238, 233, 226);
  border: none;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  transition: 1s;
  font-family: cursive;
  margin-top: 10px;
}
.secbutt:hover {
  width: 300px;
  height: 60px;
  font-size: 30px;
}
.minifirstbar {
  background-color: rgb(238, 233, 226, 0.801);
  color: rgba(176, 93, 176, 0.801);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30%;
  bottom: 30px;
  position: absolute;
  padding: 20px 10px;
  margin-left: 600px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 1000;
  outline: solid 2px white;
  z-index: 1;
}
header {
  background-color: rgba(176, 93, 176, 0.801);
  z-index: 2;
  position: fixed;
  width: 100%;
}
h2 {
  font-family: blackadder itc, cursive;
  font-weight: 200;
  font-size: 40px;
}
.thebar {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  color: rgb(238, 233, 226);
}
.linkline {
  display: flex;
  gap: 40px;
  list-style-type: none;
  padding-right: 20px;
  padding-top: 15px;
}
a {
  text-decoration: none;
  color: rgb(238, 233, 226);
}
.butt {
  background-color: rgba(176, 93, 176, 0.801);
  color: rgb(238, 233, 226);
  border: none;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  width: 200px;
  height: 70px;
  transition: 1s;
  font-family: cursive;
}
.butt:hover {
  width: 300px;
  height: 100px;
  font-size: 30px;
}
.csection {
  display: flex;
  flex-direction: row;
  padding: 20px;
}
.styles {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  align-items: center;
  margin: 0%;
}
.substyle {
  display: flex;
  flex-direction: row;
}
.styles h2 {
  font-family: centaur regular;
  font-weight: 1000;
}
.ministyles {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.substyles {
  display: flex;
  flex-direction: row;
  margin: 0;
  gap: 40px;
}
.ministyles img {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  padding: 50px;
  position: relative;
}
.cfimage img {
  height: 700px;
  width: 550px;
}
#contact {
  padding: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
#contact .form {
  color: rgba(176, 93, 176, 0.801);
  font-family: centaur regular;
  font-size: 20px;
  font-weight: 1000;
}
#contact .form input {
  border-radius: 5px;
  border-color: rgb(176, 93, 176);
  border-width: 10px;
}
#contact .form textarea {
  border-radius: 5px;
  border-color: rgb(176, 93, 176);
  border-width: 5px;
}
#contact .form button {
  background-color: rgba(176, 93, 176, 0.801);
  color: rgb(238, 233, 226);
  border: none;
  border-radius: 10px;
  font-size: 10px;
  cursor: pointer;
  width: 100px;
  height: 50px;
  transition: 1s;
  font-family: cursive;
}
#contact .form button:hover {
  width: 150px;
  height: 70px;
  font-size: 15px;
}
#contact h1 {
  font-size: 70px;
  font-family: centaur regular;
  color: rgba(176, 93, 176, 0.801);
}
.csimage img {
  height: 700px;
  width: 550px;
}
footer {
  background-color: rgba(176, 93, 176, 0.801);
  color: rgb(238, 233, 226);
}
footer p {
  text-align: center;
}
